* {
    box-sizing: border-box;
}

:root {
    /*cores*/
    --amarelo: #FFC756;
    --laranja: #F66139;
    --lilas: #7F8FFE;
    --verde: #56B78C;
    --cinza-claro: #D9D9D9;
    --cinza-escuro: #959595;

    /*fontes*/
    --fonte-primaria: 'Work Sans', sans-serif;
    --fonte-secundaria: 'Fjalla One', sans-serif;
}

body {
    font-family: var(--fonte-primaria);
    height: 100vh;
}

.produtos__titulo {
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);
}

img {
    opacity: 1;
    transition: 0.5s;
}

img:hover {
    opacity: 0.7;
}

/*main*/

.principal {
    padding: 0 1.5rem;
}

/*banner*/
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* produtos */

.produtos__titulo {
    margin-bottom: 1rem;
}

@media(min-width: 720px) {
    .principal {
        padding: 0 2.5rem;
    }

}

@media(min-width: 1440px) {

    /*main*/
    .principal {
        padding: 0 7.5rem;
    }
}